/* a cor pode ser colocado direto na :root{} da pagina
   ou no body
   a ordem de carregamento é de cima para baixo estilo cascata cuidado na hora de reutilizar em diferentes lugares as cores por exemplo */
:root{
   /* recomenda-se criar variaveis das cores
      quando utilizada varias vezes as cores a código tem que calcular todas as vezes que tiver a cor definida
      com a variavel por mais que tenha utilizado mais de uma vez as cores JA ESTARAM DEFINIDAS E SALVAS
      
      
      . (ponto) clase
        (sem nada) tag
      : (dois pontos) root
      # (hashtag) ids

      */
      
      /* as cores são compostas por 6 digitos se colocar as 3 primeriras iguais detecta que é a mesma cor --white-300: #FFF
      -- para declarar variaveis*/
 
      --white-300: #FFFFFF; 
      
      --black-300: #212121;


      --purple-200: #A369FF;
      --purple-300: #8733FF;
      --purple-500: #5A13B4; 
      
      --html:#e84a27;
      --css: #2862ea;
      --js: #E2C431;
      --py: #207196;
}


body{
   /* da para colocar cor em especifico, rgb ou exadecimal*/
   /* background-color: #212121; alterado para utilizar varialvel*/
   background-color: var(--black-300);
   margin: 0;
   padding: 0; /* coloquei (auto) para ficar como se fose barra sem fim adicionei margem section skils*/
}

/* para replicar em todas as tag a fonte e colocar depois do body não é regra mas pode causar distorções
*{
   font-family: "Montserrat", sans-serif;
} */

/* aula 5 2:09:29 */


/* adicionando cores ao cabeçalho no momento não vai ser na header*/
.backgroudHeaderColor{
   background-color: var(--purple-300);
}

/* foi visualizado no google para ver como fica e copiado para ca */
.containerHeader{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 10%;
}

.logoSite{     
   /* logo pode ser só o desenho unico ou nome da empresa
      o desenho unico é o simplificado
      neste caso vai ser médio para pequene é porque é simplificado não precisa ser responsiva normalmete logo não se altera*/
   /* largura e altura*/
   width: 150px;   
   height: 150px;
}

/* aula 5 personalizando os botoes no html são utilizados links para ficar com cara de botão são personalizados aqui*/
.buttonHeader{
   background-color: var(--purple-500);
   color: var(--white-300); /* cor da letra */
   padding: 10px 15px; /* preenchimento */
   text-decoration: none; /* (nome) removendo a decoracao da fonte */
   font-weight: bold; /* peso da fonte (negrito) */
   font-size: 1.2rem; /* 1 (rem) equivale a 16px, "rem" equivale a fonte padrão do navegador */
                      /* é utilizado para que se a configuração da fonte do navegador for aumentada fica acessivel a quem tem baixa visão e a fonte se adpite automaticamete*/
   border-radius: 15px; /* arendondamento das bordas */
   margin: 0 10px; /* altera os dois lados left right*/
   transition: background-color 0.5s ease; /* suavizar a trasição de cor */
}

/* aula 5 adicionando comportamento quando o mause estiver encima da classe aqui é os botões do cabeçalho (links) chama a clase e adiciona :hover */
.buttonHeader:hover{
   background-color: var(--purple-200);
   transition: background-color 0.5s ease; /* (ease) curva de animação olhar no ispetor do crhome qual fica melhor */
}

/* aual 5  #apresentacao: nth-child(filho) - filho 1, 2, qual filho deseja alterar*/
#apresentacao {
   display: flex;
   align-content: stretch;
   justify-content: space-evenly;
   /* margin: 10% 15%; pasado para marginContainer */
   gap: 15px /* cria espaço entre objetos */
}

/* aual 5 não foi utilizado classe, utilizado herança */
#apresentacao > div {
   width: 750px;
}

/* aula 5 */
/* aula 6  trocado apresentacao h1 por tituloBloco*/
.tituloBloco {
   font-size: 2.5rem;
   color: var(--white-300);
   font-weight: bold;
   margin-bottom: 10px;
}

/* aula 5 */
/* aula 6 apresentacao p trocado por*/
#paragrafo {
   font-size: 1.4rem;
   color: var(--white-300);
   text-align: justify;
}

.marginContainer{
   margin: 5% 17%;
}

.skillsContainer{
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 30px;
}

.skill{
   padding: 10px 48.7px;
   border: 2px solid;
   border-radius: 10px;
}

.skill h3{
   color: var(--white-300);
   text-align: center;
}

.htmlColorBorder{
   border-color: var(--html);
}

.cssColorBorder{
   border-color: var(--css);
}

.jsColorBorder{
   border-color: var(--js);
}

.pyColorBorder{
   border-color: var(--py);
}

.formularioContato{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* background-color: var(--purple-500); removida o fundo adicionado borda*/
   border:3px solid var(--purple-500);
   border-radius: 25px;
   margin: 0 25px; 
   padding: 35px 0; /* cria espaco dentro de um elemento na parte superior*/
   min-height: 250px; /* cria espaco dentro de um elemento na parte inferior*/
   gap: 30px /* cria espaço entre objetos */
}

.formularioContato input{
   color:var(--white-300);
   background: transparent;
   border: none; 
   border-bottom: 2px solid var(--white-300);
   min-width: 260px;
   font-size: 1.2rem;
}

/* especificando que estamos alterando o placeholder dentro do imput */
.formularioContato input::placeholder{
   color: var(--white-300);
   font-size: 1.2rem;
}

.formularioContato textarea{
   width: 360px;
   height: 130px;
   border-radius: 10px;
   font-size: 1.2rem;
   resize: none; /* para ficar fixo a caixa de texto assunto */
   padding: 10px; /* margem superior d texto da caixa de texto assunto */
}

.formularioContato button{
   border: none;
}
/* aula 6 roda pé */
footer{
   background-color: var(--purple-200);
}

footer div{
   margin: 0 10%;
   padding: 3% 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 30px;
   align-items: flex-end;
}

footer img{
   max-width: 50px
}

footer a{
   color: var(--white-300);
   text-decoration: none;
}
/* dispositivos com largura maxima de 767 utilizarao estas regras
   todas as resoluçoes que são abaixo do 767 para celulares
   768 para cima os tablets
   393 atenção porque a proxima é 360 e proxima 320 a uma diferença grande entre essas
   para as maiores pode se utilizar o padrão*/
   /* max largura */
@media (max-width: 767px){   
   .containerButtons{
      display: flex;
      flex-direction: column;
   }

   .buttonHeader{
      font-size: 0.09rem;
      margin: 10px 0;
   }

}